#logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    user-select: none;

    .icon {
        width: 2rem;
        @include media("<desktop") {
            width: 1.5rem;
        }
    }

    .text-block {
        p {
            line-height: 1;
        }

        .title {
            @extend h2;
            font-size: $smallFontSize;
            margin-bottom: 0.125em;
            letter-spacing: 0.15em;

            @include media("<desktop") {
                font-size: 75%;
            }
        }

        .subtitle {
            font-size: $tinyFontSize;
            @include media("<desktop") {
                font-size: 75%;
            }
        }
    }
}
