*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $background;
}

*::-webkit-scrollbar-thumb {
    background-color: $text;
    outline: none;
    border-radius: 5px 0 0 5px;
}

body {
    background: $background;
    height: 100svh;
    overflow: overlay;

    ::selection {
        background: black;
        color: white;
    }

    &[appearance="dark"] {
        ::selection {
            background: white;
            color: black;
        }
    }
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: $maxWidth;
    margin: auto;
}

.screen-reader-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
