body:has(#modal[open]) {
    overflow: hidden;
}

#modal {
    padding: 0;
    border: none;

    width: 100vw;
    max-width: $maxWidth;
    height: 100%;
    max-height: none;

    background: transparent;

    &::backdrop {
        background: transparent;
        backdrop-filter: blur(2px);

        animation: fade-in 0.4s ease;
        animation-fill-mode: forwards;
    }

    &:has(.drawer) {
        margin: 0;
        margin-inline: auto;

        animation: slide-in 0.4s cubic-bezier(0, 0.5, 0, 1);
        animation-fill-mode: forwards;
    }

    &.closing {
        &::backdrop {
            animation: fade-out 0.3s ease;
            animation-fill-mode: forwards;
        }

        &:has(.drawer) {
            animation: slide-out 0.3s ease;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#modal .modal-inner-wrapper {
    padding: 0;
    border-radius: 8px;
    box-shadow: 6px 6px 0 0 $text;
    border: 3px solid $text;
    background: $background;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 4px 4px 4px $padding;
        background: $text;

        ::selection {
            background: $background;
            color: $text;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            font-size: $smallFontSize;
            color: $background;
            fill: $background;

            h2 {
                color: $background;
            }

            svg {
                width: 1.25em;
            }
        }

        .button {
            color: $background;
            fill: $background;

            svg {
                width: 1.25rem;
            }

            &:hover,
            &:focus-visible {
                border-color: $background;
                box-shadow: 0px 3px 0px 0px $background;
            }
        }
    }

    > * {
        padding: $padding;
    }

    &.drawer {
        position: absolute;
        width: 500px;
        right: $padding;
        bottom: $padding;
        height: calc(100% + calc($padding / 2) - $padding * 2);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        @include media("<desktop") {
            right: 0;
            bottom: 0;

            width: 100%;

            border-radius: 8px 8px 0 0;
        }
    }
}
